.schedule-header{
    font-weight: bolder;
    font-size: x-large;
}

.schedule-form{
   width: 100%;
   padding: 21px;
   background-color: rgba(184, 191, 197, 0.251);
}

.schedule-container{
    font-family: Cursive;
    width: 70%;
    padding: 20px;
    margin-bottom: 30px;
    background-color: rgba(198, 191, 191, 0.55);
}

.schedule-container,.schedule-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.schedule-body{
    width: 70%;
}

.schedule-body input,.schedule-body textarea{
    border-radius: 7px;
    border: 1px solid gray;
    background-color: white;
    height: 20px;
    width: 95%;
    padding: 10px;
}

.schedule-form textarea{
    width: 95%;
    height: 120px;
    padding: 10px;
}

ul{
    width: 100%;
}

li{
    padding: 2px;
    width: 100%;
    list-style-type: none;
}

.schedule-button{
    width: 30%;
}

.label{
    font-weight: 600;
}

span{
    color: rgb(255, 94, 0);
}

@media screen and (max-width:700px){
    .schedule-body{
        width: 70%;
    }
}