.navbar{
	width: 100%;
	height: 50px;
	position: fixed;
	background-color: rgba(87, 82, 82, 0.605);
}

.nav-logo{
	padding-left: 30px;
	width: 15%;
	color: rgb(76, 190, 252);
	/* border: 2px solid gray; */
}

.nav-header{
	font-family: Lucida Sans ;
    height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu-container{
	display: none;
}

.nav-items, .nav-profile{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

 .nav-items li, .nav-profile li{
	/* padding: 10px 20px; */
	list-style-type: none;
	font-weight:bolder;
	color: white;
	cursor: pointer;
}

.nav-items-container{
	width: 30%;
	display: flex;
	position: absolute;
	left: 35%;
	/* border: 2px solid green; */
}

.nav-items li:hover{
	text-decoration: underline;
	color: rgb(103, 200, 230);
}

.profile{
	display: flex;
	position: absolute;
	right: 3%;
	top: 8px;
	width: 40px;
	font-size: xx-large;
}

.profile:hover{
	color: rgba(71, 162, 253, 0.799);
}


@media screen and (max-width: 800px) {

	.nav-items li,.nav-profile li{
		display: none;
	}
 
	.burger-items,.burger-profile{
		position: absolute;
		width: 100%;
		left: 0;

		top: 68%;
		display: flex;
		flex-direction: column;
        /* border: 2px solid blue; */
	}

	.burger-profile{
		top:352%;
        /* border: 2px solid blue; */
	}

	.burger-items li,.burger-profile li{
        /* border: 2px solid green; */
		background-color: rgba(27, 26, 26, 0.9);
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 13px;
		width:110%;
	}

	.burger-items li:hover{

		color: rgb(88, 206, 252);
		text-decoration: underline;
		
	}

    .nav-header{
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	} 

	.nav-logo{
		position: absolute;
		left: 5%;
	}
	
	.menu-container{
		color: rgb(113, 188, 250);
		position: absolute;
		display: block;	
		right: 5%;
		top: 35%;
		cursor: pointer;
	}
  }